.flex-container {
    display: flex;
    justify-content: space-between;
}

.inline-flex-container {
    display: inline-flex;
    justify-content: space-between;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.inline-flex-container-column {
    display: inline-flex;
    justify-content: space-between;
}


/*---- 헤더설정 ----*/

/* line-banner */

#line-banner {
    padding: 1rem 0;
    font-size: 0.9rem;
    background: #3fc1c9;
    color: #fff;
}

#line-banner .recommend-list {
    display: inline-flex;
}

#line-banner .recommend-list .loyalty-program {
    margin-left: 5rem;
}

/* logoArea */

#logo-area {
    padding: 2rem 0;
    background: #fff;
}

#logo-area .logo {
    font-size: 1.8rem;
    letter-spacing: -0.1rem;
    vertical-align: middle;
    line-height: 2.59rem;
    font-weight: 900;
}

#logo-area .search-box {
    min-width: 320px;
    max-width: 100%;
    position: relative;
}

#logo-area .search-box .input-text {
    padding: 0.8rem 1rem;
    background: #f6f6f6;
    border: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    border-radius: .3rem 0 0 .3rem;
    outline: none;
}

#logo-area .search-box .btn-submit {
    margin: 0;
    padding: 0.8rem 1rem;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    background: #fc5185;
    color: #fff;
    border-radius: 0 .3rem .3rem 0;
}

#logo-area .info .cart-info,
#logo-area .info .user-info {
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
}

#logo-area .info .fa-shopping-cart {
    position: relative;
    vertical-align: middle;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

#logo-area .info .dot-count {
    position: absolute;
    right: -.5rem;
    top: -.5rem;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 50%;
    background: #fc5185;
    color: #fff;
    font-size: .3rem;
}

#logo-area .info .user-info {
    margin-left: 5rem;
}

#logo-area .info .user-info * {
    vertical-align: middle;
}

#logo-area .info .profile-pic {
    margin-right: .7rem;
}

/* gnb */

#gnb {
    background: #364f6b;
}

#gnb .list_nav {
    background: #364f6b;
    padding: 1.8rem 0;
}

#gnb .list_nav .nav_item .nav {
    padding: 1.8rem 0;
    color: #fff;
}

/*---- 헤더 영역 끝 ----*/

/*---- 컨텐츠 영역 시작 ----*/
#simple-info,
#hotel-info {
    padding: 1rem 0 0;
}

#page-info {
    padding: 1rem 0;
    font-size: 0.9rem;
}

#page-info .nav {
    color: #0070c0;
}

#simple-info .rattings .offer {
    background: #fc5185;
    color: #fff;
    font-size: 0.8rem;
    align-self: center;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}

#simple-info .rattings .name {
    margin-bottom: 0.2rem;
    line-height: 1.5;
    font-size: 1.7rem;
    letter-spacing: 0;
    font-weight: 500;
}

#simple-info .rattings .fa-star {
    color: #F2994A;
    font-size: 0.6rem;
}

#simple-info .rattings .intro {
    color: #999;
    font-size: 0.8rem;
}

#simple-info .user-rattings {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: #fc5185;
    color: #fff;
    padding: .6rem;
    border-radius: .3rem;
    font-size: .7rem;
    text-align: center;
}

#simple-info .user-rattings .score {
    font-size: 1.2rem;
    padding-top: .3rem;
    display: inline-block;
}

#hotel-info .slider {
    width: 66%;
}

#hotel-info .slider .slide-img {
    width: 100%;
}

#hotel-info .sidebar {
    width: 32%
}

#hotel-info .simple-info {
    max-width: 23.5rem;
    width: 100%;
    background: #364f6b;
    color: #fff;
    border-radius: 0.5rem;
    padding: 1.75rem 1.5rem;
    margin-bottom: 1.1rem;
}

#hotel-info .simple-info .price {
    font-size: 0.9rem;
}

#hotel-info .simple-info .start-price {
    font-size: 1.7rem;
    margin: 0.5rem 0;
    display: block;
    font-weight: 700;
}

#hotel-info .simple-info .guest {
    line-height: 2.4;
    font-size: .9rem;
}

#hotel-info .simple-info .booking {
    font-size: 1.2rem;
    padding: 1rem 0;
}

#hotel-info .simple-info .btn-more {
    width: 100%;
}

#hotel-info .map {
    max-width: 23.5rem;
    width: 100%;
}

#hotel-info .map .map-img {
    width: 100%;
}

#detail-info .sub-menu .list-item .tab {
    padding: .7rem 0;
    border-bottom: 5px solid transparent;
    display: block;
    font-weight: 700;
}

#detail-info .sub-menu .list-item.active .tab {
    border-color: #fc5185;
    color: #fc5185;
}

#detail-info .package-summery .card {
    width:100%;
    border-radius: .3rem;
    overflow: hidden;
}

#detail-info .card.highlights,
#detail-info .card.details {
    width: 49%;
    margin-bottom: 1rem;
}

#detail-info .card.highlights .flex-container,
#detail-info .card.details .flex-container {
    flex-wrap: wrap;
}

.card.details .list-item {
    width: 50%;
    line-height: 1.5;
}

.card.highlights .list-item{
    width: 50%;
}

#detail-info .package-summery .period {
    line-height: 1.5;
}


#detail-info .card-body .package-details {
    width: 32%;
}

#other-packages .hotel {
    border-radius: .3rem;
    overflow: hidden;
    margin-bottom: 1.3rem;
}

#other-packages .main-hotel {
    flex-basis: auto;
    flex-grow: 2;
    max-width: 66%;
}

#other-packages .sub-hotel {
    flex-basis: auto;
    flex-grow: 1;
    max-width: 32%;
}

.hotel1,
.hotel2,
.hotel3,
.hotel4,
.hotel5 {
    border-radius: .3rem;
    overflow: hidden;
}

.hotel1 .hotel-bg {
    background: url('../images/hotel1.jpg')center center no-repeat;
    width: 50%;
    position: relative;
}

.hotel1 .hotel-info {
    width: 50%;
}

.hotel2 .hotel-bg {
    background: url('../images/hotel2.jpg')center center no-repeat;
}

.hotel3 .hotel-bg {
    background: url('../images/hotel3.jpg')center center no-repeat;
}

.hotel4 .hotel-bg {
    background: url('../images/hotel4.jpg')center center no-repeat;
}

.hotel5 .hotel-bg {
    background: url('../images/hotel5.jpg')center center no-repeat;
}

#other-packages .hotel .hotel-bg {
    min-height: 13.3rem;
    background-size: cover;
}

#other-packages .hotel .hotel-info {
    background: #364f6b;
    padding: 2.5rem;
    color: #fff;
}

#other-packages .hotel .list-item {
    position: relative;
}

#other-packages .hotel .label {
    position: absolute;
    left: 0;
    top: 2rem;
    padding: .5rem 1rem;
    color: #fff;
    background: #fc5185;
    font-size: .7rem;
    border-radius: 0 .3rem .3rem 0;
}

#other-packages .hotel .hotel-info {
    font-size: 0.85rem;
    font-weight: 300;
}

#other-packages .hotel-info .fa-star {
    font-size: 0.5rem;
    line-height: 1.5;
    color: goldenrod;
}

#other-packages .hotel-info .name {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 0 1rem;
    font-weight: 600;
}

#other-packages .hotel-info .intro {
    line-height: 1.7;
    word-break: break-all;
    font-size: .9rem;
    padding: 1.05rem 0;
}

#other-packages .hotel-info .about {
    line-height: 2;
    padding: 1rem 0;
}

#other-packages .hotel-info .discount-price {
    font-size: 1.4rem;
    line-height: 1;
    word-break: break-all;
    margin: .3rem 0 0;
    font-weight: 600;
}

#review-area .review-box {
    background: url('../images/double-dot.png')50% 10% no-repeat, #fff;
    background-size: 80%;
    max-width: 75%;
    border-radius: .3rem;
    margin: 6rem auto 0;
    padding: 4rem 0 3rem;
    text-align: center;
    position: relative;
}

#review-area .reviewer-img {
    position: absolute;
    left: 50%;
    top: -3rem;
    transform: translateX(-50%);
}

#review-area .review-box .sub-title {
    line-height: 1;
    margin: 0;
    font-size: .8rem;
    font-weight: 700;
}

#review-area .review-box .date {
    line-height: 1;
    margin: 1rem 0 0;
    font-size: .7rem;
}

#review-area .review-box .fa-star {
    font-size: 0.5rem;
    line-height: 1.5;
    color: goldenrod;
}

.review-box .review-rattings {
    margin-bottom: 1rem;
}

.review-box .review {
    width: 71.5%;
    margin: 2rem auto 0;
    word-break: break-all;
    line-height: 1.8;
    font-size: .9rem;
}

.prev,
.next {
    position: absolute;
    top: 50%;
}

#review-area .prev {
    left: 1rem;
}

#review-area .next {
    right: 1rem;
}

#subscribe {
    background: linear-gradient(0deg, rgba(63, 193, 201, 0.7), rgba(63, 193, 201, 0.7)), url('../images/subscribe-bg.jpg')center center no-repeat;
    background-size: cover;
    padding: 5rem 0;
    color: #fff;
}

#subscribe .news-letter {
    margin-left: 20%;
    width: 30%;
}

.news-letter .text {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
}

.news-letter .sub-title {
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
}

#subscribe .mailto-box {
    width: 30%;
    margin-right: 20%;
    height: 100%;
    border-radius: .3rem;
    overflow: hidden;
}

.mailto-box .email {
    width: 70%;
    border: 0;
    padding: 1.52rem;
}

.mailto-box .btn {
    width: 29.9%;
    border: 0;
    padding: 1.52rem;
    margin-left: -4px;
    border-radius: 0 .3rem .3rem 0;
}

#other-activities .card {
    width: 23%;
    background-size: cover;
    border-radius: .5rem;
    padding-top: 7rem;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #fff;
}

#other-activities .card-body {
    background: transparent;
}

.card.act1 {
    background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #364f6b 99.85%), url('../images/activity1.jpg')no-repeat center center;
}

.card.act2 {
    background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #364f6b 99.85%), url('../images/activity2.jpg')no-repeat center center;
}

.card.act3 {
    background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #364f6b 99.85%), url('../images/activity3.jpg')no-repeat center center;
}

.card.act4 {
    background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #364f6b 99.85%), url('../images/activity4.jpg')no-repeat center center;
}

.act .sub-title {
    color: #fff;
}

.act .btn {
    margin-top: 1.5rem;
}

/*---- 컨텐츠 영역 끝 ----*/
/*---- 푸터 영역 시작 ----*/

#footer {
    background: #364f6b;
    color: #fff;
    width: 100%;
}

#footer .sitemap {
    padding-top: 3rem;
}

.sitemap .logo {
    font-size: 3.5rem;
    line-height: 1.1;
    font-weight: 900;
    margin-top: 1.5rem;
}

.sitemap .nav {
    color: #9c9c9c;
    display: block;
    line-height: 1.7;
}

.sitemap .list-item {
    width: 25%;
}

.contact-detail .list-item {
    width: 50%;
}

.sitemap .category-title,
.sitemap .social,
.contact-detail .category-title {
    font-size: 1.3rem;
    margin: 1.5rem 0;
}

.social .icon {
    margin-left: 0.5rem;
}

.contact-detail-table .info {
    line-height: 2;
    padding: .5rem 0;
}

.contact-detail-table .icon {
    margin-right: 1rem;
}

.contact-detail-table {
    color: #9c9c9c;
    line-height: 1.3;
}

#footer .contact-form {
    width: 100%;
    display: block;
}

.contact-form .name,
.contact-form .tel {
    width: 48.4%;
    border: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: .3rem;
}

.contact-form .tel {
    margin-left: calc(3% - 4px);
}

.contact-form .textarea {
    width: 100%;
    min-height: 10rem;
    border-radius: .3rem;
    margin-bottom: 1rem;
    padding: 15px;
    resize: none;
}

#footer .copyright {
    font-size: .8rem;
    padding: 5rem 0 3rem
}

/*---- 푸터 영역 끝 ----*/

.scroll-btn {
    position: fixed;
    width: 2rem;
    height: 4rem;
    right: 1rem;
    bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 20%);
    overflow: hidden;
}

#up-btn,
#down-btn {
    width: 100%;
    height: 50%;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: all .2s;
}

#up-btn:hover,
#down-btn:hover {
    background: #fc5185;
    color: #fff;
}

/*---- 모바일 메뉴 ----*/

.menuwrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 3.5rem;
    right: 1rem;
    z-index: 500;
    width: 3rem;
    height: 3rem;
    padding: .3rem;
    background-color: #fff;
    border: 0;
    outline: 0;
    border-radius: 50%;
    margin: 0;
    transition: all .2s;
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 20%);
    cursor: pointer;
}

.mobile-menu i {
    font-size: 2em;
    transition: all .2s ease-in-out;
}

.menuwrap {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 400;
    overflow: auto;
    width: calc(100% - 2.5rem);
    height: 100%;
    padding: 50px 20px;
    box-sizing: border-box;
    transition: left .3s ease-in-out;
    background-color: #fff;
}

.menuwrap.on {
    left: 0;
}

.mmenu .list-item {
    line-height: 1.1;
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem 0;
}

.mmenu .list-item:nth-child(1) {
    padding: 3rem 0;
}

.mmenu .logo {
    margin: 0;
    line-height: 1.2;
    font-size: 2.3rem;
    cursor: pointer;
}

#dimmed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .2s ease-in-out;
}